
*.bak
*.lnk
docs/random/ygo/pkm_ids.txt
docs/random/ygo/vg_ids.txt
docs/random/ygo/ygo_ids.txt
docs/random/ygo/digimon_ids.txt
docs/random/ygo/*blacklist*
docs/random/ygo/sleevestates.txt
docs/wishlist/data/fix_image.py
docs/wishlist/data/numbers.py
