	 .badge-type-album {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-continuous {
		 background-color: purple;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-counter {
		 background-color: purple;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-cxyz {
		 background-color: black;
		 color: yellow;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-effect {
		 background-color: orange;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-empty {
		 background-color: lightcoral;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-equip {
		 background-color: darkcyan;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-fake {
		 background-color: red;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 1em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-fieldcentercard {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-fusion {
		 background-color: plum;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-link {
		 background-color: cornflowerblue;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-normal {
		 background-color: gainsboro;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-pendulum {
		 background-color: darkkhaki;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-quickplay {
		 background-color: darkcyan;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-ritual {
		 background-color: paleturquoise;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-sleeves {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-storage {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-structuredeck {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-synchro {
		 background-color: silver;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-terrain {
		 background-color: darkcyan;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-toon {
		 background-color: beige;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-tuner {
		 background-color: silver;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-vanilla {
		 background-color: bisque;
		 color: black;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
	 .badge-type-xyz {
		 background-color: black;
		 color: white;
		 padding: 2px 4px;
		 border-radius: 3px;
		 font-size: 0.8em;
		 margin-left: 4px;
		 white-space: nowrap 
	}
