	 :root {
		 --badge-padding: 2px 4px;
		 --badge-radius: 3px;
		 --badge-font-size: 0.8em;
		 --badge-margin-left: 4px;
		 --badge-white-space: nowrap;
	}
	
	 [class^="badge-type-"], [class*=" badge-type-"] {
		 padding: var(--badge-padding);
		 border-radius: var(--badge-radius);
		 font-size: var(--badge-font-size);
		 margin-left: var(--badge-margin-left);
		 white-space: var(--badge-white-space);
	}
	
	 .badge-type-album, .badge-type-fieldcentercard, .badge-type-sleeves, .badge-type-storage, .badge-type-structuredeck, .badge-type-toon {
		 background-color: beige;
		 color: black;
	}
	 .badge-type-continuous, .badge-type-counter {
		 background-color: purple;
		 color: white;
	}
	 .badge-type-cxyz {
		 background-color: black;
		 color: yellow;
	}
	 .badge-type-effect {
		 background-color: orange;
		 color: black;
	}
	 .badge-type-empty {
		 background-color: lightcoral;
		 color: black;
	}
	 .badge-type-equip, .badge-type-quickplay, .badge-type-terrain {
		 background-color: darkcyan;
		 color: white;
	}
	 .badge-type-fake {
		 background-color: red;
		 color: white;
		 font-size: 1em;
	}
	 .badge-type-fusion {
		 background-color: plum;
		 color: black;
	}
	 .badge-type-link {
		 background-color: cornflowerblue;
		 color: white;
	}
	 .badge-type-normal {
		 background-color: gainsboro;
		 color: black;
	}
	 .badge-type-pendulum {
		 background-color: darkkhaki;
		 color: black;
	}
	 .badge-type-ritual {
		 background-color: paleturquoise;
		 color: black;
	}
	 .badge-type-synchro, .badge-type-tuner {
		 background-color: silver;
		 color: black;
	}
	 .badge-type-vanilla {
		 background-color: bisque;
		 color: black;
	}
	 .badge-type-xyz {
		 background-color: black;
		 color: white;
	}
	 